.row__container {
  width: 80%;
  height: max-content;
  margin: 40px auto;
  background-color: rgb(236, 234, 234);
  padding-top: 10px;
  padding-bottom: 10px;
}
.row__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.single__row {
  border: 1px solid rgb(175, 173, 173);
  width: 202px;
  height: 230px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7px;
  transition: transform 450ms;
  visibility: visible;
}

.single__row:hover {
  box-shadow: 10px 5px 5px gray;
  cursor: pointer;
  transform: scale(1.03);
}
.row__content {
  position: relative;
  padding: 3px;
  margin-left: 5px;
}
.row__paragraph {
  display: flex;
  font-weight: bold;
  font-size: x-small;
  margin-top: 5px;
}
.row__paragraph p {
  margin-right: 10px;
}

.fa-paperclip,
.fa-clock {
  color: gray;
  margin-right: 3px;
}
.row__title {
  width: 80%;
}

.imgbig {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 200px;
}
.imgsmall {
  width: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.hover__text {
  margin-top: 10px;
  color: rgb(45, 128, 223);
  /* visibility: hidden; */
}
